<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjx.dao.FoodExceptionDao">
    <insert id="addItem" parameterType="com.zjx.pojo.FoodExceptionHash">
        INSERT INTO foodException VALUES(
        #{identificationCode},
        #{lot},
        #{type},
        #{hash},
        #{recordTime})
    </insert>
    <select id="queryItemByLot" parameterType="String">
        SELECT * FROM foodException WHERE lot=#{lot}
    </select>
    <select id="queryItemById" parameterType="String">
        SELECT * FROM foodException WHERE identificationCode=#{key}
    </select>
    <select id="getAllItems">
        SELECT * FROM foodException
    </select>
</mapper>