<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjx.dao.RawMaterialDao">
    <insert id="addItem" parameterType="com.zjx.entity.RawMaterial">
        INSERT INTO rawMaterial VALUES(
        #{identificationCode},
        #{detail})
    </insert>
    <select id="queryItem" parameterType="String">
        SELECT * FROM rawMaterial WHERE identificationCode=#{code}
    </select>
    <select id="getAllItems">
        SELECT * FROM rawMaterial
    </select>
</mapper>